// Custom styles.
//图片外部的容器方框 
.out-img-topic {
  display: block;
  max-height:200px;
  margin-bottom: 24px;
  overflow: hidden;
}
//图片
img.img-topic {
  display: block;
  padding: 0;
  float: right;
  clear: right;
  width: 100%;
}
// 自定义替代description的样式
p.description{
    text-align: center;
    font-size: 14px;
    font-style: italic;
    color: #666;
    margin-top: 30px;
}
